<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Golden One</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="container clearfix">
            <div class="logo">
                <a href=""><img src="img/logo.png" alt=""/></a>
            </div>
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="home">
        <div class="container">
            <h3>Welcome To Our Studio!</h3>
            <h1>It's nice to meet you</h1>
            <button class="btn">Tell me more</button>
        </div>
    </div>

    <div id="services" class="box">
        <div class="container">
            <h2 class="title">Services</h2>
            <p class="descr">Proin iaculis purus consequat sem cure. </p>
            <div class="services-wrap clearfix">
                <div class="services-item commerce">
                    <h5 class="title">E-Commerce</h5>
                    <p>Proin iaculis purus consequat sem cure
                        digni ssim. Donec porttitora entum suscipit.</p>
                </div>
                <div class="services-item responsive">
                    <h5 class="title">Responsive Web</h5>
                    <p>Proin iaculis purus consequat sem cure
                        digni ssim. Donec porttitora entum suscipit.</p>
                </div>
                <div class="services-item security">
                    <h5 class="title">Web Security</h5>
                    <p>Proin iaculis purus consequat sem cure
                        digni ssim. Donec porttitora entum suscipit.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio" class="box">
        <div class="container">
            <h2 class="title">Our Portfolio</h2>
            <p class="descr">Proin iaculis purus consequat sem cure. </p>
            <div class="portfolio-wrap clearfix">
                <div class="portfolio-item">
                    <a href=""><img src="img/p-item1.jpg" alt=""/></a>
                    <div class="p-item-footer">
                        <h5 class="title">Ebony & Ivory</h5>
                        <span>Branding</span>
                    </div>
                </div>
                <div class="portfolio-item">
                    <a href=""><img src="img/p-item2.jpg" alt=""/></a>
                    <div class="p-item-footer">
                        <h5 class="title">Ebony & Ivory</h5>
                        <span>Branding</span>
                    </div>
                </div>
                <div class="portfolio-item">
                    <a href=""><img src="img/p-item3.jpg" alt=""/></a>
                    <div class="p-item-footer">
                        <h5 class="title">Ebony & Ivory</h5>
                        <span>Branding</span>
                    </div>
                </div>
                <div class="portfolio-item">
                    <a href=""><img src="img/p-item4.jpg" alt=""/></a>
                    <div class="p-item-footer">
                        <h5 class="title">Ebony & Ivory</h5>
                        <span>Branding</span>
                    </div>
                </div>
                <div class="portfolio-item">
                    <a href=""><img src="img/p-item5.jpg" alt=""/></a>
                    <div class="p-item-footer">
                        <h5 class="title">Ebony & Ivory</h5>
                        <span>Branding</span>
                    </div>
                </div>
                <div class="portfolio-item">
                    <a href=""><img src="img/p-item6.jpg" alt=""/></a>
                    <div class="p-item-footer">
                        <h5 class="title">Ebony & Ivory</h5>
                        <span>Branding</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="box">
        <div class="container">
            <h2 class="title">About Us</h2>
            <p class="descr">Proin iaculis purus consequat sem cure.</p>
            <div class="about-wrap">
                <div class="about-item clearfix">
                    <div class="about-text left text-right">
                        <h5 class="title"><span>July 2010</span><br>Our Humble Beginning</h5>
                        <p>Proin iaculis purus consequat sem cure
                            digni ssim. Donec porttitora entum suscipit
                            aenean rhoncus posuere odio in tincidunt. Proin
                            iaculis purus consequat sem cure digni
                            ssim. Donec porttitora entum suscipit.</p>
                    </div>
                    <div class="about-img left">
                        <img src="img/about-item1.png" alt=""/>
                    </div>
                </div>
                <div class="about-item clearfix">
                    <div class="about-text right text-left">
                        <h5 class="title"><span>January 2011</span><br>Facing Startup Battles</h5>
                        <p>Proin iaculis purus consequat sem cure
                            digni ssim. Donec porttitora entum suscipit
                            aenean rhoncus posuere odio in tincidunt. Proin
                            iaculis purus consequat sem cure digni
                            ssim. Donec porttitora entum suscipit.</p>
                    </div>
                    <div class="about-img right">
                        <img src="img/about-item2.png" alt=""/>
                    </div>
                </div>
                <div class="about-item clearfix">
                    <div class="about-text left text-right">
                        <h5 class="title"><span>December 2012</span><br>Enter The Dark Days</h5>
                        <p>Proin iaculis purus consequat sem cure
                            digni ssim. Donec porttitora entum suscipit
                            aenean rhoncus posuere odio in tincidunt. Proin
                            iaculis purus consequat sem cure digni
                            ssim. Donec porttitora entum suscipit.</p>
                    </div>
                    <div class="about-img left">
                        <img src="img/about-item3.png" alt=""/>
                    </div>
                </div>
                <div class="about-item clearfix">
                    <div class="about-text right text-left">
                        <h5 class="title"><span>Febrary 2014</span><br>Our Triumph</h5>
                        <p>Proin iaculis purus consequat sem cure
                            digni ssim. Donec porttitora entum suscipit
                            aenean rhoncus posuere odio in tincidunt. Proin
                            iaculis purus consequat sem cure digni
                            ssim. Donec porttitora entum suscipit.</p>
                    </div>
                    <div class="about-img right">
                        <img src="img/about-item4.png" alt=""/>
                    </div>
                </div>
                <a href="#" class="about-link">Our<br>Story<br>Continues<br>...</a>
            </div>
        </div>
    </div>

    <div id="team" class="box">
        <div class="container">
            <h2 class="title">Our Amazing team</h2>
            <p class="descr">Proin iaculis purus consequat sem cure.</p>
            <div class="team-wrap clearfix">
                <div class="team-item">
                    <img src="img/team-img.png" width="220" height="220" alt=""/>
                    <h5 class="title">Kimberly Thompson</h5>
                    <p class="cat">Marketer</p>
                    <div class="social">
                        <a href="#" class="ic-tw">&nbsp;</a>
                        <a href="#" class="ic-fb">&nbsp;</a>
                        <a href="#" class="ic-pn">&nbsp;</a>
                    </div>
                </div>
                <div class="team-item">
                    <img src="img/team-img.png" width="220" height="220" alt=""/>
                    <h5 class="title">Rico Massimo</h5>
                    <p class="cat">Coder</p>
                    <div class="social">
                        <a href="#" class="ic-tw">&nbsp;</a>
                        <a href="#" class="ic-fb">&nbsp;</a>
                        <a href="#" class="ic-gl">&nbsp;</a>
                    </div>
                </div>
                <div class="team-item">
                    <img src="img/team-img.png" width="220" height="220" alt=""/>
                    <h5 class="title">Uku Mason</h5>
                    <p class="cat">Graphic Designer</p>
                    <div class="social">
                        <a href="#" class="ic-fb">&nbsp;</a>
                        <a href="#" class="ic-pn">&nbsp;</a>
                    </div>
                </div>
            </div>
            <p class="descr team-info">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit<br>
                aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
        </div>
    </div>

    <div id="brand">
        <div class="container">
            <a href="#"><img src="img/envato.jpg" alt=""/></a>
            <a href="#"><img src="img/wordpress.jpg" alt=""/></a>
            <a href="#"><img src="img/aetuts.jpg" alt=""/></a>
            <a href="#"><img src="img/microlancer.jpg" alt=""/></a>
        </div>
    </div>

    <div id="contact" name="contact" class="box">
        <div class="container">
            <h2 class="title">Contact Us</h2>
            <p class="descr">Proin iaculis purus consequat sem cure.</p>

            <form action="#" id="message">
                <div class="clearfix">
                    <div class="left">
                        <input type="text" placeholder="Your Name *"/>
                        <input type="text" placeholder="Your E-mail *"/>
                        <input type="text" placeholder="Subject"/>
                    </div>
                    <div class="right">
                        <textarea cols="0" rows="0" placeholder="Your Message *"></textarea>
                    </div>
                </div>
                <input type="submit" value="Send Message" class="btn"/>
            </form>
        </div>
    </div>

    <div id="copyright">
        <div class="container clearfix">
            <p class="left">&copy; Copyright 2015 postepenno.com</p>
            <div class="social">
                <a href="#" class="ic-tw black">&nbsp;</a>
                <a href="#" class="ic-fb black">&nbsp;</a>
                <a href="#" class="ic-pn black">&nbsp;</a>
                <a href="#" class="ic-gl black">&nbsp;</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>