<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>20 цитат о России</title>

    <meta property='og:title' content="20 цитат о России. Тест." />
    <meta property="og:description" content="От нас 20 простых вопросов, от тебя 20 простых ответов. Все просто." />
    <meta property="og:url" content="http://postepenno.com/20quotes" />
    <meta property='og:image' content="http://postepenno.com/20quotes/img/20quotes-shot.jpg" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="libs/angular-social.css"/>
    <link rel="stylesheet" href="../shared/slide-nav/nav-styles.css"/>

</head>
<body ng-app="app" ng-controller="MainController as main">

<slide-nav></slide-nav>

<div class="wrapper" ng-cloak>
    <h1 class="page-header">20 цитат о России</h1>

    <div class="panel panel-default ads">
        <google-ads></google-ads>
    </div>

    <div class="content-box tweens" ng-if="main.curItem">
        <div class="quote-id">{{main.curItem.id + 1}}</div>
        <div class="quote-symbol">”</div>
        <div class="quote-text">
            {{main.curItem.quote}}
        </div>
        <div class="quote-tire"></div>
        <div class="quote-question">
            Кто автор цитаты?
        </div>
        <div class="row">
            <div class="col-xs-3 answer-wrapper" ng-repeat="answer in main.curItem.answers">
                <answer-box></answer-box>
            </div>
        </div>
        <button class="btn btn-success btn-lg bt-next" ng-show="main.isLevelComplete()" ng-click="main.nextClick($event)">Далее</button>
    </div>
    <!--<pre>{{main.items | json}}</pre>-->
</div>

<div class="wrapper tweens" ng-if="main.gameComplete" ng-cloak>
    <div class="content-box game-complete">
        <h1>Игра пройдена!</h1>
        <img class="putin-approves" src="img/putin-approves.jpg" alt="Путин одобряет"/>
        <h3>Твой результат: <span class="big-font">{{main.correctAnswers}}</span>/{{main.getTotalItems()}}</h3>
        <br/>
        <ul ng-social-buttons
            data-url="'http://postepenno.com/20quotes'"
            data-title="'20 цитат о России'"
            data-description="'За более чем тысячелетнюю историю о России не высказывался только ленивый'"
                >
            <li class="ng-social-facebook">Facebook</li>
            <li class="ng-social-twitter">Twitter</li>
            <li class="ng-social-vk">Вконтакте</li>
            <li class="ng-social-odnoklassniki">Одноклассники</li>
        </ul>
        <br/><br/>

    </div>
</div>


<script src="../js/ga.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
<script src="libs/angular-social.js"></script>
<script src="../shared/slide-nav/bigSlide.min.js"></script>
<script src="../shared/slide-nav/nav.js"></script>
<script src="../shared/directives.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>-->

<script>
    var app = angular.module("app", ["ngSocial", "ngAnimate"]);

    app.controller("MainController", function ($scope, DataService) {
        var vm = this;

        // remove 300 ms delay on mobile devices
/*
        $(function() {
            FastClick.attach(document.body);
        });
*/

        var nextLevelId = undefined;
        vm.curItem = undefined;
        vm.gameComplete = false;
        vm.correctAnswers = 0;

        DataService.load(function (data) {
            vm.curItem = DataService.getItem(0);
        })

        function nextClick($event) {
            $($event.target).attr("disabled", true); // disable next button to avoid extra clicks
            nextLevelId = vm.curItem.id + 1;
            vm.curItem = undefined; // start 'leave' animation
            //$scope.$apply();
        }

        // callback from animation. egggh, ugly
        function contentLeaveComplete() {
            if (DataService.isItemExist(nextLevelId)) {
                vm.curItem = DataService.getItem(nextLevelId);
            } else {
                vm.curItem = undefined;
                vm.gameComplete = true;
            }
        }


        function playerAnswered(answer) {
            answer.selected = true;
            if (answer.correct) {
                vm.correctAnswers++;
                //console.log("RIIIGHT!");
            } else {
                //console.log("wrong :(");
            }
            vm.curItem.answers.forEach(function (x) {
                x.disable = true;
            })
        }

        function isLevelComplete() {
            var selectedItems = vm.curItem.answers.filter(function (x) {
                return x.selected === true;
            })
            return selectedItems.length === 0 ? false : true;
        }

        // exports
        vm.isLevelComplete = isLevelComplete;
        vm.playerAnswered = playerAnswered;
        vm.contentLeaveComplete = contentLeaveComplete;
        vm.nextClick = nextClick;
        vm.getTotalItems = DataService.getTotalItems;
    })

    app.factory("DataService", function ($http) {
        return {
            items:undefined,
            load: function (callback) {
                $http.get("data/quotes.json")
                        .success(function (data) {
                            items = data
                                    .map(function (x, i) {
                                        x.id = i;
                                        x.answers[0].correct = true;
                                        x.answers = x.answers.map(function (answer) {
                                            if (answer.avatar === "") answer.avatar = "img/150x200.png";
                                            else answer.avatar = "img/" + answer.avatar;
                                            return answer;
                                        })
                                        x.answers = _.shuffle(x.answers);
                                        return x;
                                    })
                                    //.filter(function (x) { return x.id < 2; })
                            callback(items);
                        })
            },
            getTotalItems: function () {
                return items.length;
            },
            isItemExist: function (id) {
                return items[id] !== undefined;
            },
            getItem: function (id) {
                return items[id];
            }
        }
    })

    app.directive("answerBox", function () {
        return {
            link: function (scope, el, attrs) {
                el.on('mouseenter', function () {
                    el.css({"background-color":"#dddddd"})
                });
                el.on('mouseleave', function () {
                    el.css({"background-color":"#ffffff"})
                })
                el.on('click', function () {
                    scope.main.playerAnswered(scope.answer);
                    scope.$apply();
                })

                scope.$watch('answer.disable', function (newVal) {
                    if (newVal === true) {
                        el.off();
                        el.removeClass('clickable');
                        if (scope.answer.correct) {
                            el.css({
                                "background-color":"rgb(71, 221, 71)",
                                "border-color": "#267326"
                            });
                        }
                        if (scope.answer.selected && !scope.answer.correct) {
                            el.css({
                                "background-color":"rgb(203, 73, 73)",
                                "border-color": "#832929"
                            });
                        }

                    }
                })
            },
            replace:true,
            template:'<div class="answer clickable">' +
                    '<img ng-src="{{answer.avatar}}" alt="" class="img-person"/>' +
                    '<h3>{{answer.author}}</h3>' +
                    '</div>'

        }
    })

    app.animation(".tweens", function () {
        return {
            enter: function (element, done) {
                TweenMax.from(element, 0.5, {opacity:0, x:"+=40", onComplete:done});
            },
            leave: function (element, done) {
                var scope = element.scope();
                TweenMax.to(element, 0.5, {opacity:0, x:"-=40", onComplete: function () {
                    done();
                    scope.main.contentLeaveComplete();
                }});
            }
        }
    })


</script>

</body>
</html>


