body {
  background: #F0F0F0;
  font-family: 'Lato', sans-serif;
}

.keys,
.content,
.error,
.result_achievements_unlocked {
  border: 1px solid #CACACA;
  margin: 27px auto;
  padding: 16px;
  width: 480px;
  overflow: hidden;
}

.keys div,
.content div {
  clear: both;
  margin: 10px 0;
  overflow: hidden;
}

label, input[type='text'] {
  height: 26px;
  line-height: 26px;
}

input[type='text'] {
  float: right;
  padding: 0 5px;
  width: 217px;
}

label {
  color: #7A7A7A;
  float: left;
  text-align: right;
  width: 200px;
}

label.get_username,
label.is_signed_in {
  border: 1px solid #ADADAD;
  color: #9E9E9E;
  float: right;
  width: 230px;
  text-align: center;
}

input[type='button'] {
  background: #F35800;
  border: 1px solid #ADADAD;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  margin-left: 14px;
  width: 106px;
}

.achievement div {
  clear: none;
  float: right;
  margin: 0;
  width: 231px;
}

.achievement div input[type='text']{
  width: 143px;
}

.achievement div input[type='button']{
  float: right;
  width: 60px;
}

ul {
  font-size: 12px;
  list-style: circle;
  margin: 10px 30px;
}

ul li {
  margin-top: 5px;
}

span.method {
  color: #5A412A;
}

.error span.display_name,
.result_achievements_unlocked span {
  color: #883216;
}

.error ul {
  color: #B61717;
}

.result_achievements_unlocked {
  height: 208px;
}

.result_achievements_unlocked ul.achievements {
  border-top: 1px solid #ccc;
  max-height: 106px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 466px;
}

.result_achievements_unlocked ul {
  color: #707070;
}

.result_achievements_unlocked ul.achievement_descriptions {
  border-bottom: 1px solid #CFCFCF;
  padding: 5px 0 20px 0;
  width: 420px;
}