

body {
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

.item {
    border: 2px dashed red;
}

ul {
    display: inline-block;
    border: 1px solid blue;
    float: right;
}

img {
    border:1px solid black;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    float: left;
    /*height: 50px;*/
}

footer {
    background-color: yellow;
    height: 200px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}