<!DOCTYPE html>
<html ng-app="postepennoApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>postepenno</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='description' content='Games by Eugene Karataev at postepenno.' />
  <meta name='keywords' content='Games, Indie Games, Puzzle Games, Splitter, Wake Up the Box, Drawfender, Игры, Головоломки' />
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="AppCtrl as $ctrl" ng-cloak>

<div class="container">
  <div class="row">
    <div class="ads-top">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Responsive -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1435819777621907"
           data-ad-slot="3140818030"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h1><img class="logo" src="assets/Logo.png" /></h1>
        <p>Hi, my name is Eugene, I'm a game developer. It's nice to see you here! :)</p>
        <p>Drop me a line or contact me on twitter with anything.</p>
        <p>e-mail: <a href="mailto:eugene.karataev@gmail.com">eugene.karataev@gmail.com</a></p>
        <p>twitter: <a href="http://twitter.com/postepenno">postepenno</a></p>
      </div>

      <hr class="between-sections">
      <div class="html5-games">
        <h2><img src="assets/html5_logo.png" /> HTML5 games</h2>
        <div ng-repeat="item in $ctrl.html5Games">
          <hr>
          <div class="game">
            <div class="game-image">
              <a ng-href="{{item.url}}" target="_blank"><img class="thumb" ng-src="{{item.thumb}}"></a>
            </div>
            <div class="game-desc">
              <a ng-href="{{item.url}}" target="_self"><p class="game-title">{{item.title}}</p></a>
              <p>{{item.desc}}</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="between-sections">
      <section class="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Rectangle -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-1435819777621907"
             data-ad-slot="3555660430"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </section>
      <hr class="between-sections">

      <div class="flash-games">
        <h2><img src="assets/flash_logo.png" /> Flash games</h2>
        <div ng-repeat="item in $ctrl.flashGames">
          <hr>
          <div class="game">
            <div class="game-image">
              <a ng-href="{{item.url}}" target="_blank"><img class="thumb" ng-src="{{item.thumb}}"></a>
            </div>
            <div class="game-desc">
              <a ng-href="{{item.url}}" target="_self"><p class="game-title">{{item.title}}</p></a>
              <p>{{item.desc}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="between-sections">

      <div class="clients">
        <h2>Happy Clients</h2>
        <img class="img-responsive" src="assets/clients/clients.png" />
      </div>
      <hr class="between-sections">

      <div class="footer">
        <p>Thanks for stopping by!</p>
        <p>&copy; postepenno.com 2015-2016</p>
        <br>
      </div>
    </div>
  </div> <!-- row -->



</div>

<script src="js/jquery-2.1.0.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="js/ga.js"></script>
<script src="js/main.js"></script>

</body>
</html>