
.menu-icon-wrapper {
    position: fixed;
    z-index:8888;
}

.menu-icon {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
}

.menu-link {
    padding: .2em .4em;
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
    font-size: 30px;
    transition: 0.2s ease;
}

.menu-link:hover,
.menu-link:active {
    background: rgba(0, 0, 0, .6);
}

.menu-link:hover,
.menu-link:link,
.menu-link:visited,
.menu-link:active {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu-header {
    text-align: center;
}

.nav-menu {
    color: #ffffff;
    padding: 10px;
    background: #2C3E50;
    z-index: 9999;
    overflow-y: auto;
}

.nav-menu ul {
    border-top: 2px solid #34495D;
}

.nav-menu a {
    transition: 0.2s ease;
    display: block;
    border-bottom: 2px solid #34495D;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

.nav-menu a:hover,
.nav-menu a:active {
    background: #25B89A;
}
