<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>30 лучших советских фильмов</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="libs/angular-toggle-switch.css"/>
    <link rel="stylesheet" href="libs/angular-social.css"/>

    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/sticker.css"/>
    <link rel="stylesheet" href="../shared/my-nav/my-nav-styles.css"/>

</head>
<body ng-controller="MainCtrl">

<my-nav></my-nav>

<div class="panel panel-default intro" ng-if="model.gameState==='intro'">
    <h1><span class="big-font">30</span> лучших советских фильмов</h1>
    <img class="thumbnail" src="img2/pivo.jpg" alt="30 лучших советских фильмов"/>
    <p>На советских фильмах выросло не одно поколение зрителей. Мы до сих пор вспоминаем их добрый, интеллигентный юмор, талантливых актеров и фразы, ставшие крылатыми. Но хорошо ли мы помним лучшие фильмы тех лет?</p>
    <p>Попробуй отгадать название фильма по его рекламной афише. Каким будет твой результат?</p>
    <button class="btn btn-primary btn-lg" ng-click="gameStart()">Поехали</button>
</div>


<div game-panel ng-repeat="item in items" ng-if="model.gameState==='play'" tween-born>
    <div class="thumbnail col-left">
        <div class="poster-wrapper">
            <img disable-drag class="img-poster" ng-src="img/{{item.img}}" alt=""/>
            <div class="item-id">{{item.id + 1}}/{{getTotalQuestions()}}</div>
            <div sticker>
                <p sticker-text>?</p>
            </div>
        </div>
    </div>
    <div class="col-right">
        <!--<p ng-repeat="answer in item.answers">{{answer.value}}</p>-->
        <ul class="list-unstyled" ng-controller="AnswerCtrl">
            <li class="quiz-answer" ng-repeat="answer in item.answers" quiz-answer>
                <span class="glyphicon" answer-icon></span>
                <span class="quiz-answer-text">{{answer.value | uppercase}}</span>
            </li>
        </ul>
        <next-button></next-button>
    </div>
</div>

<div class="panel panel-default complete" ng-if="model.gameState==='complete'" tween-born>
    <h1>Ура! Игра пройдена!</h1>
    <img class="thumbnail" src="img2/complete.jpg" alt="Игра пройдена!"/>
    <h4>Правильные ответы: <span class="big-font">{{getCorrectAnswers()}}</span> из <span class="big-font">{{getTotalQuestions()}}</span></h4>

    <ul ng-social-buttons
        data-url="'http://postepenno.com/ussr-movies'"
        data-title="'30 лучших советских фильмов'"
        data-description="'Отгадай фильм по постеру'"
            >
        <li class="ng-social-facebook">Facebook</li>
        <li class="ng-social-twitter">Twitter</li>
        <li class="ng-social-vk">Вконтакте</li>
        <li class="ng-social-odnoklassniki">Одноклассники</li>
    </ul>
    <hr/>
    <h2>Другие игры</h2>
    <div class="alert alert-success alert-game">
        <a href="http://postepenno.com/ussr" target="_blank">Советские плакаты</a>
    </div>
    <div class="alert alert-success alert-game">
        <a href="http://postepenno.com/orden" target="_blank">Ордена ВОВ</a>
    </div>
    <div class="alert alert-success alert-game">
        <a href="http://postepenno.com/g20" target="_blank">Большая двадцатка</a>
    </div>

</div>

<div class="menu">
    <h5>Звук</h5>
    <toggle-switch
            ng-model="sndService.enabled"
            on-label="Вкл"
            off-label="Выкл">
    </toggle-switch>
</div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47794384-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.26/howler.min.js"></script>
<script src="libs/angular-toggle-switch.min.js"></script>
<script src="libs/angular-social.js"></script>

<script src="../shared/my-nav/my-nav.js"></script>
<script src="js/game.js"></script>
<script src="js/rect-sticker.js"></script>


</body>
</html>