<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Быстрая математика</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <style>
        body {
            /*background-color: #FF7F00;*/
        }

        .panel-default {
            padding: 10px;
        }
    </style>

</head>
<body ng-app="app" ng-controller="MainController as main">
<!--<div class="container">-->
    <div class="row">
        <div class="col-xs-4" ng-repeat="group in main.groups">
            <div class="panel panel-default">
                <h4>{{group.f}}</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in group.items">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>{{item.q}}</p>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-success">{{item.y}}</button>
                                <button class="btn btn-danger">{{item.n}}</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>

<script>

    var app = angular.module("app", []);

    app.controller("MainController", function (Generator) {
        var vm = this;

        var groups = [];
        var actions = [
            {operation:"add", args:[2,6,4,12]},
            {operation:"subtract", args:[2,10,4,20]},
            {operation:"multiply", args:[3,12,true]},
            {operation:"divide", args:[3,6,true]},
            {operation:"time_add", args:[5,0]},
            {operation:"time_subtract", args:[5,1]},
            {operation:"parentheses", args:[5,5]},
            {operation:"solve_for_x", args:[2,4,3]},
            {operation:"is_x_prime", args:[8,24,false]}
        ]
        actions.forEach(function (action) {
            var times = 5;
            var items = [];
            var i, obj;
            for (i = 0; i < times; i++) {
                obj = Generator[action.operation].apply(null, action.args);
                items.push(obj);
            }
            groups.push({f:action.operation + "(" + action.args + ")", items:items});
        })

        // exports
        vm.groups = groups;
    })
</script>

<script src="js/services.js"></script>

</body>
</html>