
h1 {
    /*text-align: center;*/
}

#restart {
    margin-bottom: 10px;
}

.buttons {
    border: 1px solid black;
    background: #eee;
}

.btn {
    border-radius: 5px;
    padding: 15px;
    font-size: 22px;
    text-decoration: none;
    margin: 5px 5px 10px 5px;
    color: #fff;
    display: inline-block;
    width:30px;
    text-align: center;

    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.btn:hover {
    background-color: #6FC6FF;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.btn-off {
    border-radius: 5px;
    padding: 15px;
    font-size: 22px;
    text-decoration: none;
    margin: 5px 5px 10px 5px;
    color: #fff;
    display: inline-block;
    width:30px;
    text-align: center;

    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
    cursor: default;
}
