<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Редактор</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>


    <style>

        body {
            background-color: #f6f6f6;
        }

        .title {
            text-align: center;
        }

        .panel-default {
            margin: 10px;
            padding: 10px;
        }

        .flag-wrapper {
            display: inline-block;
            border:1px solid #f3f3f3;
            width: 30%;
            margin: 10px;
            background-color: #dfdfdf;
        }

    </style>

</head>
<body ng-controller="MainCtrl">

<h1 class="title">Большая двадцатка. Редактор</h1>
<div class="panel panel-default" ng-repeat="item in items">

    <div class="form-inline">
        <p>
            <label>{{item.id + 1}}.</label>
            <input type="text" ng-model="item.title" class="form-control"/>
        </p>
    </div>
    <div class="clearfix">
        <div ng-repeat="flag in item.flags" class="flag-wrapper">
            <input type="text" class="form-control" ng-model="flag.img"/>
            <img ng-src="img/{{flag.img}}" alt=""/>
        </div>
    </div>


</div>
<div class="panel panel-default">
    <button class="btn btn-primary" ng-click="addEmpty()">Добавить пустой</button>
</div>

<div class="panel panel-default">
    <p>
        Pretty JSON?
        <input type="checkbox" ng-model="model.pretty"/>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </p>
    <p><textarea class="form-control json-data" id="" cols="30" rows="20" ng-model="model.json"></textarea></p>
</div>


<script>

    var app = angular.module("app", []);

    app.controller("MainCtrl", function ($scope, $http) {

        $scope.model = {
            pretty:false,
            json:undefined
        }

        $http.get("json/data.json")
                .success(function(data, status, headers, config) {
                    $scope.items = data;
                    //normalizeData($scope.items);
                });


/*
        $scope.items = [
            {
                id: 0,
                title: "Россия",
                flags: [
                    {img: "ru1.jpg", bingo: true},
                    {img: "ru2.jpg"},
                    {img: "ru3.jpg"},
                    {img: "ru4.jpg"},
                    {img: "ru5.jpg"},
                    {img: "ru6.jpg"}
                ]
            }
        ]
*/

        $scope.addEmpty = function () {
            var id = $scope.items.length;
            var item = {
                id:id,
                title:"Страна",
                flags:[
                    {img:".jpg", bingo:true},
                    {img:".jpg"},
                    {img:".jpg"},
                    {img:".jpg"},
                    {img:".jpg"},
                    {img:".jpg"}
                ]
            }
            $scope.items.push(item);
        }

        $scope.save = function () {
            $scope.model.json = angular.toJson($scope.items, $scope.model.pretty);
        }

    })

</script>

</body>
</html>