<div class="nav-holder" ng-controller="NavController as nav">
    <div class="menu-icon">
        <button class="btn menu-link" ng-click="nav.open()">&#9776;</button>
    </div>

    <nav class="nav-menu" role="navigation">
        <a class="icon-close" ng-click="nav.close()">&times;</a>
        <h2 class="nav-menu-header">Другие штуки</h2>
        <ul class="list-unstyled">
            <li><a href="http://postepenno.com/20quotes">20 цитат о России</a></li>
            <li><a href="http://postepenno.com/ussr-movies">30 лучших фильмов СССР</a></li>
            <li><a href="http://postepenno.com/ussr">Советские плакаты</a></li>
            <li><a href="http://postepenno.com/orden">Ордена ВОВ</a></li>
            <li><a href="http://postepenno.com/g20">Большая двадцатка</a></li>
            <li><a href="http://postepenno.com/meloch">Мелочь, а приятно</a></li>
        </ul>
    </nav>
</div>
