
.rotator {
    background: #9fc63f;
    clear: both;
    height: 415px;
    position: relative;
}

.rotator .prev {
    position: absolute;
    background-image: url(../img/backward.png);
    display: block;
    height: 60px;
    width: 60px;
    left:100px;
    top: 50%;
    margin-top: -30px;
}

.rotator .next {
    position: absolute;
    background-image: url(../img/forward.png);
    display: block;
    height: 60px;
    width: 60px;
    right:100px;
    top: 50%;
    margin-top: -30px;
}

.rotator .rotator-wrapper {
    height: 420px;
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    position: relative;
}

.rotator ul {
    position: absolute;
    top: 0;
    width: 2000em;
}

.rotator li {
    float: left;
    height: 420px;
    width: 960px;
    position: relative;
}

.slide0, .slide1, .slide2 {
    background: url(../img/slide.png) left center no-repeat;
}

.slide0 div,
.slide1 div,
.slide2 div {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5;
    position: absolute;
    right: 0;
    text-align: center;
    top: 75px;
    width: 400px;
}



.content h2 {
    background: url(../img/bg_dash.png) bottom right repeat-x;
    font-size: 28px;
    padding: 40px 0;
}

.services {
    margin: 40px 0 50px 0;
    overflow: hidden;
}

.services ul {

}

.services li {
    float: left;
    margin-right: 75px;
}

.services li:last-child {
    margin-right: 0;
}

.services .disc-outer {
    background: #ffffff;
    margin-bottom: 18px;
    border: 1px solid #dedede;
    width: 178px;
    height: 178px;
    border-radius: 100%;
}

.services .disc-inner {
    background: #9fc63f;
    height: 140px;
    width: 140px;
    margin: 19px;
    border-radius: 100%;
}

.services .disc-inner > .icon {
    background-repeat: no-repeat;
    background-position: center center;
    height: 140px;
    width: 140px;
}

.services .amazing {
    background-image: url(../img/support.png);
}

.services .hour {
    background-image: url(../img/telephone.png);
}

.services .web {
    background-image: url(../img/settings.png);
}

.services .mobile {
    background-image: url(../img/mobile.png);
}

.services h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.services h5 {
    font-size: 14px;
    text-align: center;
}

.sub-header {
    background: url(../img/bg_dash.png) center repeat-x;
    clear: both;
    height: 20px;
    margin-bottom: 35px;
}

.sub-header h4 {
    background: #f5f5f5;
    font-size: 20px;
    height: 20px;
    margin-left: 35px;
    padding-top: 4px;
    width: 275px;
}

.portfolio-item {
    border:1px solid #ebebeb;
    float: left;
    margin-bottom: 25px;
    margin-right: 26px;
    width: 465px;
}

.portfolio-item:nth-child(2n + 1) {
    margin-right: 0;
}

.portfolio-item img {
    float: left;
    height: 148px;
    width: 227px;
    margin-right: 20px;
}

.portfolio-item h5 {
    font-size: 12px;
    margin: 15px 0 10px 0;
}

.portfolio-item a {
    background: #9fc63f;
    color: #ffffff;
    text-decoration: none;
    padding: 3px 10px;
}

.portfolio-item p {
    margin-top: 15px;
}

.advertisers {
    clear: both;
}

.advertisers li {
    float: left;
    width: 160px;
    height: 131px;
}

.advertisers img {
    display: block;
    width: 160px;
    height: 131px;
}

.archives li {
    border-bottom: 1px dotted #ACABA9;
    padding-bottom: 12px;
    margin-bottom: 15px;
}

.archives li:last-child {
    border-bottom: none;
}

.archives a {
    text-decoration: none;
    color: #000000;
}

.contact li {
    margin-bottom: 15px;
    padding-left: 30px;
    line-height: 30px;
    background-position: left center;
    background-repeat: no-repeat;
}

.contact li:nth-child(1) {
    background-image: url(../img/contact-mail.png);
}

.contact li:nth-child(2) {
    background: url(../img/contact-phone.png) no-repeat;
}

.contact li:nth-child(3) {
    background: url(../img/contact-mobile.png) no-repeat;
}

.subscribe form {
    text-align: right;
}

.subscribe input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    background: #FAFAFA;
    border: none;
    border-bottom: 2px solid #D9D9D9;
}

.subscribe input[type="submit"] {
    padding: 14px;
    background: #9fc63f;
    color: #ffffff;
    text-transform: uppercase;
    border:none;
    text-shadow: rgba(0,0,0,0.4) 1px 1px;
}





